%html
  %head
    %title BS Code Challengue - No Such Team
    %link(rel="stylesheet" href="/css/style.css")
  %body
    %h1 No Such Team
    %p
      No team is registered with that id. Perhaps the game was restarted? You may need to re-register.
